numpy
pandas
scipy
matplotlib
seaborn
scikit-learn
xgboost
lightgbm
catboost
keras
plotly
bokeh
altair
dash
dask
pyspark
nltk
spacy
openpyxl
pyarrow
geopandas
shapely
ipywidgets
black
pytest
ipython
ipykernel